[Unit]
Description=Elasticsearch UI

[Service]
# Environment=SUGAR_API=https://some.host
Environment=SUGAR_API=<charles api host>

User=ubuntu
Group=ubuntu

WorkingDirectory=<path to git repo>

ExecStart=/usr/bin/npm run start

[Install]
WantedBy=multi-user.target
